<!DOCTYPE html>
<html>

<head>

<title>Dashboard</title>

<style>

body{
    font-family:Arial;
    text-align:center;
    background:#f2f2f2;
}

.container{
    margin-top:100px;
}

a{
    display:block;
    width:300px;
    margin:20px auto;
    padding:20px;
    background:#2a5298;
    color:white;
    text-decoration:none;
    border-radius:10px;
    font-size:25px;
}

</style>

</head>

<body>

<div class="container">

<h1>Select Test</h1>

<a href="/test/Aptitude/">Aptitude Test</a>

<a href="/test/Technical/">Technical Test</a>

<a href="/test/Grammar/">Grammar Test</a>

</div>

</body>
</html>