<!DOCTYPE html>
<html>
<head>

<title>Placement Test App</title>

<style>

body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(to right,#1e3c72,#2a5298);
    font-family:Arial;
    color:white;
}

h1{
    font-size:60px;
}

a{
    text-decoration:none;
    background:white;
    color:black;
    padding:15px 30px;
    border-radius:10px;
}

</style>

</head>

<body>

<div align="center">

<h1>Placement Test App</h1>

<a href="/register/">Get Started</a>

</div>

</body>
</html>